* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  animation: change 6s ease-in-out infinite;
  background-image: linear-gradient(45deg, cyan, yellow);
  background-size: 200% 200%;
  height: 100vh;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}